{% extends 'base.html' %}
{% block title %}TEAM AAYUSH
{% endblock title %}
{% block body %}
<style>
  
  .cardteam{
   width:260px;
   height:500px;
   border-radius: 3%;
   border:3px solid rgb(79, 82, 82);
  }
  .mainbox{
    display: block;
    margin-left:3%;
    padding:3px;
    font-family: 'Times New Roman', Times, serif;
  

  }
  P{
    font-size: small;
  }
  
  .head{
  color: white;
  
  background-color: rgb(153, 184, 184);
}
</style>

<H1 class="text-center head text-uppercase text-white"><marquee width="60%"  height="60px">TEAM S3</marquee></H2>
  <H3 class="text-center text-uppercase my-3 mb-5 text-white">OUR organisationAL TEAM</H3>
  <div class="mainbox" >
<div class="row">

  <div class="col">

    <div class="card cardteam text-center my-3">
      <div class="card-body  mb-3">
        <img class="bd-placeholder-img rounded-circle mb-3" style=" width: 150px;height:150px" src="static\img\imag1.jpg">
        <H6 class="text-uppercase"><b>Chief Executive </b></H6>
        <p class=" text-uppercase"><b> Devki Mehra</b></p>
        <p class="card-text">Dr Devki Mehra is a Medical graduate with experience in clinical and public health programs. She has been associated with SHARE INDIA since 2018 to monitor and provide clinical support to ART program and as closely coordinate activities of Center of Excellence, providing advanced Dr Devki Mehra oversees program implementation at Krishna district, Andhra Pradesh.  
   
      </div>
    </div>
  </div>
  <div class="col">
  <div class="card cardteam my-3 text-center">
    <div class="card-body mb-3">
      <img class="bd-placeholder-img rounded-circle mb-3" style=" width: 150px;height:150px" src="static\img\tmem2.jpg">
      <H6 class="text-uppercase"><b>Sr. Technical Officer</b></H6>
      <p class=" text-uppercase"><b> PRABHUWATI SUPIYAL</b></p>
      <p class="card-text">Dr Prabhuwati is a Medical graduate with experience in clinical and public health programs. She has been associated with SHARE INDIA since 2018 to monitor and provide clinical support to ART program and as closely coordinate activities of Center of Excellence, providing advanced Dr Prabhuwati oversees program implementation at Krishna district, Andhra Pradesh.

    </div>
  </div>
</div>
<div class="col">
<div class="card cardteam my-3 text-center">
  <div class="card-body mb-3">
    <img class="bd-placeholder-img rounded-circle mb-3" style=" width: 150px;height:150px" src="static\img\tMEM.4.jpg">
    <H6 class="text-uppercase"><b>Sr.Project Manager</b></H6>
    <p class="text-uppercase"><b>SAMPADA BHIDE</b></p>
    <p class="card-text">Sampada Bhide is a Public Health professional with over 7 years of strong public health and TB research background. With a Master Degree in Community Medicine/Public Health from the prestigious Seth G S Medical College and KEM Hospital, Mumbai and a Diploma in Human Resource Management. 

  </div>
</div>
</div>
<div class="col">
<div class="card cardteam my-3 text-center">
  <div class="card-body mb-3">
    <img class="bd-placeholder-img rounded-circle mb-3" style=" width: 150px;height:150px" src="static\img\tmem3.jpg">
    <H6 class="text-uppercase"><B>Sr.FINANACE Manager</B></H6>
    <P class="text-uppercase"><B>lAXMAN NARSIMHAN</B></P>
    <p class="card-text"> Mr.Lakshm Narasimhan has been with SHARE INDIA since 2007 and heads the Finance and Accounts team. He has over 35 years of experience in managing finance in various Industries and organisations like, manufacturing, book publishing, transport, hospitals and medical colleges.</p>


  </div>
</div>
</div>


 
</div>
</div>
{%include 'footer.html'%}
{% endblock body %}